nav a:hover {
    color: #ff6000 !important;
}

nav .nav-item.on a {
    color: #ff6000 !important;
    font-weight: bold;
}

.nav-item {
    padding: 0 20px;
}

#search h1 {
    font-weight: bold;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

.card{
    width: 250px !important;
    height: 300px !important;
    margin-bottom: 20px;
}